.ui.card, .ui.cards>.card { background: #f4f4f4;box-shadow: 0 0px 0px 0 #d4d4d5, 0 0 0 0px #d4d4d5;width: 18%;padding: 11px 24px;margin: 2px; }
.ui.card>.content>.header, .ui.cards>.card>.content>.header { color: #3d4883; }
.ui.card .meta, .ui.cards>.card .meta { font-size: 1em;color: #3d488363; }